<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        .cart-item {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
        }
        .remove-btn {
            color: red;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="he">
        <a class="men" href="http://localhost:3000/">Inicio</a>
        <a class="men" href="/list">Lista</a>
        <a class="men" href="/cart">Carrito</a>
    </div>
    <h1>Carrito de Compras</h1>
    <div id="cart-items">
        <!-- Aquí se mostrarán los productos en el carrito -->
    </div>
    <button>Proceder al Pago</button>
    <script src="/js/cart.js"></script>
</body>
</html>