<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zuleima's Garden Blooms</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <img src=" images/logo.jpg" class=" logo">
           
        </header>
        <main>
            
            <p class="pp">Nos dedicamos a transformar momentos ordinarios en recuerdos extraordinarios con la belleza de nuestras flores. Fundada por  Zuleima Moreno, nuestra empresa combina pasión y arte floral para ofrecer ramos y arreglos que capturan la esencia de cada ocasión especial. Desde bodas elegantes hasta celebraciones íntimas, cada flor es cuidadosamente seleccionada y arreglada con amor y dedicación. En nuestro jardín de ensueño, cada flor cuenta una historia, y estamos aquí para ayudarte a contar la tuya con elegancia y estilo.</p>
            <a href="/list" class="btn">Ver el catalogo de Flores</a>
        </main>
        
        <footer>
            <p>&copy; 2024 Flower Shop. Todos los derechos reservados.</p>
        </footer>
    </div>
</body>
</html>