<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Flores</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<div class="he">
           <a class="men" href="http://localhost:3000/">Inicio</a>
            <a class="men" href="/list">Lista</a>
         
              
    <span id="cart-count" class="cont">0</span> 
     <a href="/cart"><img class="Carrito" src="/images/Carrito.png"></a>
</div>
 

<body>
    <h1>Flores Disponibles</h1>
    <div id="flower-slides">
        <!-- Aquí se generarán dinámicamente las diapositivas -->
    </div>
    <script src="/js/list.js"></script>
</body>
</html>